<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="app.rvx.android.apps.youtube.music" />
        <package android:name="app.revanced.android.apps.youtube.music" />
        <package android:name="com.google.android.apps.youtube.music" />
    </queries>

    <application
        android:name=".YTMusicAutoLauncherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YTAutoLauncher"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <!-- Main Activity for Phone UI -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.YTAutoLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Android Auto Car App Service -->
        <service
            android:name=".ui.auto.YTMusicCarAppService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.IOT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />

        <!-- Receiver to bridge car clicks to mobile activity -->
        <receiver
            android:name=".ui.PlaylistReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="app.olus.ytmusic.autolauncher.ACTION_OPEN_PLAYLIST" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
